# INITIAL EDA

In [2]:
import pandas as pd
import matplotlib as mpl

### First we upload the data as dataframes, later the data will be ingested by a pipeline from sql

In [6]:
movies_df = pd.read_csv("D:/data-sc/Movie-set-project/Database/ml-25m/movies.csv", sep=",")

In [8]:
ratings_df = pd.read_csv("D:/data-sc/Movie-set-project/Database/ml-25m/ratings.csv", sep=",")

In [10]:
genome_df = pd.read_csv("D:/data-sc/Movie-set-project/Database/ml-25m/genome-scores.csv", sep=",")

In [11]:
genometag_df = pd.read_csv("D:/data-sc/Movie-set-project/Database/ml-25m/genome-tags.csv", sep=",")

In [18]:
print(movies_df.shape)
movies_df.head(5)

(62423, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
print(ratings_df.shape)
ratings_df.head(5)

(25000095, 4)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [20]:
print(genome_df.shape)
genome_df.head(5)

(15584448, 3)

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [41]:
#Setting pandas options to not get the description numbers in scientific notetion
#Details on https://pandas.pydata.org/pandas-docs/version/0.23.4/options.html
pd.set_option("styler.format.precision",7)

In [40]:
ratings_df["rating"].describe()

count   25000095
mean           4
std            1
min            0
25%            3
50%            4
75%            4
max            5
Name: rating, dtype: float64